<div #modal id="modal-wrapper" class="modal">
    <div class="modal-content">
        <h5 class="center">{{modalHeader}}</h5> 
          <card-editor *ngIf="activeModal === 'CardEditorComponent'"></card-editor>
          <signup *ngIf="activeModal === 'SignupComponent'"></signup>
		  <confirmation *ngIf="activeModal === 'ConfirmationComponent'"></confirmation>
	</div>
	<div class="divider"></div>
	<div class="modal-footer">
		<button class="btn red lighten-2 btn-flat" (click)="closeModal()">{{cancelButton}}</button>
		<button [disabled]="disableSuccessButton" class="btn green lighten-2 btn-flat" (click)="onSubmit()">{{successButton}}</button>
    </div>
    <div *ngIf="isLoading" class="loader-container">
        <div class="loader">
            <span class="a"></span>
            <span class="b spin">
                <span class="c"></span>
            </span>
        </div>
    </div>
</div> 