<div #modal id="modal-wrapper" class="modal">
    <div class="modal-content">
        <h5 class="center">{{modalHeader}}</h5> 
          <card-editor *ngIf="activeModal === 'CardEditorComponent'"></card-editor>
		  <confirmation *ngIf="activeModal === 'ConfirmationComponent'"></confirmation>
	</div>
	<div class="divider"></div>
	<div class="modal-footer">
		<button class="btn red lighten-2 btn-flat" (click)="closeModal()">{{cancelButton}}</button>
		<button [disabled]="disableSuccessButton" class="btn green lighten-2 btn-flat" (click)="closeModal()">{{successButton}}</button>
	</div>
</div> 