<div class="wrapper">
	<nav>
		<div class="nav-wrapper container">
			<a class="brand-logo m-left-10 left">Payment Application</a>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col s6">
				<router-outlet></router-outlet>
            </div>
            <div class="col s6">
				<logger></logger>
			</div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12">
                    <plans-list></plans-list>
            </div>
        </div>
	</div>
	<modal-wrapper></modal-wrapper>
</div>

