<h5>Cards</h5>
<button class="btn" (click)="openModal('CardEditorComponent')">Add a new card</button>
<ul *ngIf="cards.data?.length !== 0" class="collection">
    <li *ngFor="let card of cards?.data; trackBy: trackByFn" class="collection-item row">
        <span class="col s6">{{card.brand}} {{card.country}} ****{{card.last4}}</span>
        <div class="col s6 right-align">
            <button class="btn btn-small">Edit</button>
            <button class="btn btn-small red" (click)="deleteCard(card.id)">Delete</button>
        </div>
    </li>
</ul>
<div *ngIf="cards.data?.length === 0" class="empty-cnt">
    <h5 class="center">NO CARDS SO FAR</h5>
</div>
<div class="divider"></div>